*,
html {
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.div-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 45%;
}

.div-navbar {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 8vh;
    z-index: 1000;
}

.logo {
    height: 100%;
    width: 12%;
    float: left;
    margin-left: 25px;
}

.ul-navbar {
    display: flex;
    height: 100%;
    justify-content:flex-end;
    align-items: center;
}

.li-navbar {
    font-size: 20px;
    list-style-type: none;
    padding: 5px;
    margin: 5px;
}

.a-navbar {
    color: rgb(244, 148, 93);
    text-decoration: none;
    font-family: sans-serif;
}


.a-navbar:hover {
    color: white;
}

.div-cnt1 {
    height: 90vh;
    width: 100%;
}

.h1-cnt {
    display: grid;
    place-items: center;
    margin-top: 100px;
    color: rgb(255, 255, 255);
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 0px 0px 13px rgba(0,0,0,0.43);;
}

.h2-cnt {
    display: grid;
    place-items: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.isi-head {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 900px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color: white; 
    line-height: 1.6; 
    text-align: center;
}

.garis {
    margin: 0 auto;
    margin-top: 100px;
    max-width: 800px;
    height: 1.5px;
    background-color: aliceblue;
}

.h-setlist {
    display: grid;
    place-items: center;
    margin: 30px auto;
    color: white;
    letter-spacing: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-top: 3px white solid;
    border-bottom: 3px white solid;
    padding-bottom: 25px;
    padding-top: 25px;
    max-width: 800px;
}

.setlist {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    height: 600px;
    max-width: 800px;
    list-style-type: none;
  }

.li-setlist {
    background-color: rgba(249, 192, 138, 0.217);
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    border-radius: 5px; 
}

.foto {

    margin-top: 15px;
    height: 250px;
    max-width: 230px;;
    align-items: center;
    justify-content: center;
    box-shadow: -1px 0px 50px 6px #ff62004a;
    z-index: 1px;
}

.a-setlist {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
    z-index: 2px;
}

.h-date {
    display: grid;
    place-items: center;
    margin: 30px auto;
    margin-top: 200px;
    color: white;
    letter-spacing: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 3px white solid;
    border-radius: 50px;
    padding: 10px;
    max-width: 300px;
}

.date-time {
    display: grid;
    place-items: center;
    margin: 30px auto;
    margin-top: 25px;
}

.p-date {
    margin-top: 0px;
    color: white;
    font-family: roboto;
    font-size: 50px;
    font-weight: 250;
    letter-spacing: 10px;
} 

.p-time {
    margin-top: 10px;
    color: white;
    font-family: roboto;
    font-size: 50px;
    font-weight: 750;
    letter-spacing: 5px;
} 

.p-place {
    margin-top: 10px;
    color: white;
    font-family: roboto;
    font-size: 20px;
    font-weight: 250;
    letter-spacing: 10px;
} 

.div-footer {
    margin-top: 75%;
    height: 5vh;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.263);
}

.isi-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: roboto;
    font-weight: lighter;
    font-size: small;
}

